# Ignore VS Code settings
.vscode/
.conda/
.langgraph_api/

# Ignore environment variable files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore logs
*.log
#llm_log_*.txt

# Ignore OS files
.DS_Store
Thumbs.db

data/
run_*/
game_run_*/
creator_*/

langchain_testing.ipynb

results/