absl-py==2.2.2
-e git+ssh://git@github.com/nbelle1/strategy-game-agents.git@fc5150f31fcd0c88e76219f2ef8569f3613f521e#egg=agents
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
anthropic==0.51.0
anyio==4.9.0
appnope==0.1.4
asttokens==3.0.0
astunparse==1.6.3
attrs==22.2.0
black==23.1.0
blockbuster==1.5.25
boto3==1.38.13
botocore==1.38.13
-e git+ssh://git@github.com/nbelle1/strategy-game-agents.git@fc5150f31fcd0c88e76219f2ef8569f3613f521e#egg=catanatron&subdirectory=catanatron/catanatron_core
-e git+ssh://git@github.com/nbelle1/strategy-game-agents.git@fc5150f31fcd0c88e76219f2ef8569f3613f521e#egg=catanatron_experimental&subdirectory=catanatron/catanatron_experimental
-e git+ssh://git@github.com/nbelle1/strategy-game-agents.git@fc5150f31fcd0c88e76219f2ef8569f3613f521e#egg=catanatron_gym&subdirectory=catanatron/catanatron_gym
-e git+ssh://git@github.com/nbelle1/strategy-game-agents.git@fc5150f31fcd0c88e76219f2ef8569f3613f521e#egg=catanatron_server&subdirectory=catanatron/catanatron_server
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.1.0
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
coverage==6.5.0
coveralls==3.3.1
cryptography==44.0.3
dataclasses-json==0.6.7
debugpy==1.8.14
decorator==5.2.1
distro==1.9.0
docopt==0.6.2
eval_type_backport==0.2.2
executing==2.2.0
Farama-Notifications==0.0.4
filelock==3.18.0
Flask==2.2.3
Flask-Cors==3.0.10
Flask-SQLAlchemy==3.0.3
flatbuffers==25.2.10
forbiddenfruit==0.1.4
frozenlist==1.6.0
fsspec==2025.3.2
gast==0.6.0
google-pasta==0.2.0
greenlet==3.2.1
grpcio==1.71.0
gunicorn==20.1.0
gymnasium==0.29.1
gymnasium-notices==0.0.1
h11==0.16.0
h5py==3.13.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
idna==3.4
importlib_metadata==8.6.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.1.2
jax-jumpy==1.0.0
jedi==0.19.2
Jinja2==3.1.2
jiter==0.9.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema_rs==0.29.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.9.2
langchain==0.3.24
langchain-aws==0.2.23
langchain-community==0.3.23
langchain-core==0.3.75
langchain-mistralai==0.2.10
langchain-openai==0.3.14
langchain-text-splitters==0.3.8
langgraph==0.4.1
langgraph-api==0.4.11
langgraph-checkpoint==2.0.25
langgraph-cli==0.4.0
langgraph-prebuilt==0.1.8
langgraph-runtime-inmem==0.11.0
langgraph-sdk==0.2.6
langsmith==0.4.23
libclang==18.1.1
Markdown==3.8
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.26.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistralai==1.7.0
ml-dtypes==0.3.2
multidict==6.4.3
mypy-extensions==1.0.0
namex==0.0.9
nest_asyncio==1.6.0
numpy==1.26.4
openai==1.76.0
opt_einsum==3.4.0
optree==0.15.0
orjson==3.10.18
ormsgpack==1.9.1
packaging==24.1
pandas==1.5.3
parso==0.8.4
pathspec==0.11.1
pexpect==4.9.0
platformdirs==3.1.1
pluggy==1.0.0
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==4.25.7
psutil==7.0.0
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pycparser==2.22
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
Pygments==2.14.0
PyJWT==2.10.1
pytest==7.2.2
pytest-benchmark==4.0.0
pytest-watch==4.2.0
python-dateutil==2.8.2
python-dotenv==1.1.0
pytz==2022.7.1
PyYAML==6.0.2
pyzmq==26.4.0
regex==2024.11.6
requests==2.28.2
requests-toolbelt==1.0.0
rich==13.3.2
s3transfer==0.12.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.7
sse-starlette==2.1.3
stack-data==0.6.3
starlette==0.47.3
structlog==25.4.0
tenacity==9.1.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
tiktoken==0.9.0
tokenizers==0.21.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
truststore==0.10.4
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==1.26.15
uvicorn==0.35.0
watchdog==2.3.1
watchfiles==1.1.0
wcwidth==0.2.13
Werkzeug==2.2.3
wrapt==1.17.2
xxhash==3.5.0
yarl==1.20.0
zipp==3.21.0
zstandard==0.23.0
